[package]
name = "token_sender"
version = "0.1.0"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[[target.starknet-contract]]
sierra = true
casm=true

[lib]


[dependencies]
starknet = "2.6.0"
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.22.0" }
openzeppelin = { git = "https://github.com/openzeppelin/cairo-contracts", tag = "v0.10.0"}



[profile.devnet]
account="devnet-rs"
network = "testnet"
url = "http://127.0.0.1:5050"

